.card {
  display: flex;
  overflow: hidden;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  height: 7em;
  margin: 0.3em 0;
  transition: all 220ms ease-out;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  letter-spacing: 0.027em;
}
.playing {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.card:hover > .card-image {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.img-container {
  height: 100%;
  width: 6.5em;
  min-width: 6.5em;
}
.card-image {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
}
.index {
  width: 2em;
  align-self: center;
  min-width: 2em;
  text-align: center;
  color: #002280;
  font-size: 1em;
  font-weight: 700;
  padding-top: 0.7em;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em 0 0 0.8em;
  color: #444444;
  max-width: 100%;
  width: 100%;
  font-size: 0.9em;
  margin-right: 0.2em;
  height: auto;
  overflow: hidden;
  transition: all 0.2s ease-out;
  /* background: cyan; */
}
.artists {
  justify-content: space-around;
}
.labels p {
  height: auto;
  line-height: 100%;
  font-size: 0.9em;
}
.name-id {
  color: #002280;
  font-weight: 700;
  font-size: 1.2em;
  max-width: 100%;
}
.tracks {
  font-size: 0.9em;
}
#artists {
  font-size: 1.1em;
}

.player {
  display: none;
}
.is-playing {
  display: inline;
}
.card:hover .player {
  display: inline;
}

.overlay-player {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444444;
  position: absolute;
  bottom: 0;
  left: 2em;
  height: 100%;
  width: 6.5em;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.fas.fa-play,
.fas.fa-pause {
  color: rgba(127, 255, 212, 1);
  font-size: 2.5em;
  position: absolute;
  bottom: 0;
  top: 1em;
  left: 1.65em;
  text-align: center;
  height: auto;
  transition: all 0.1s ease-out;
}
.fas.fa-play::before,
.fas.fa-pause::before {
  cursor: pointer;
}
#play-icon:active {
  transform: scale(0.9);
}

.card:hover .overlay-player > i {
  opacity: 1;
}
.overlay-nosrc {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0em;
  bottom: 0em;
  background: rgba(0, 34, 128, 0.6);
  color: rgba(127, 255, 212, 1);
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all 0.3s ease-out;
  animation: slide-down 0.3s;
}
.overlay-nosrc > p > a {
  color: rgba(127, 255, 212, 1);
  text-decoration: none;
}
.overlay-nosrc > p > a:hover {
  color: whitesmoke;
}
.overlay-nosrc > p > a > i {
  font-weight: 400;
}

.equalizer {
  background: rgba(0, 34, 128, 0.4);
}

@keyframes slide-down {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .card {
    margin: 0.4em 0;
  }
  .card:hover {
    height: 10.5em;
  }
  .card:hover .labels {
    justify-content: space-around;
  }
  .card:hover #play-icon {
    top: 1.6em;
  }
  .playing {
    bottom: 3.25em;
  }
  #name-id-tracks {
    font-size: 1em;
  }
  .labels > p {
    height: auto;
    line-height: 100%;
    font-size: 1em;
  }
}
