header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 1em;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
}
.header-emojis {
  height: 100%;
  width: 4.5em;
  text-align: center;
  /* change this value to match header height */
  line-height: 65px;
  font-size: 1.4em;
  cursor: default;
  transition: text-shadow 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.user-image {
  width: 2.3em;
  margin-left: 10px;
  box-shadow: 5px 15px 20px -15px rgba(0, 0, 0, 0.3),
    0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.spinner-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 3.2em;
  font-size: 2.2em;
  color: #002280;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .user-container > .display-name > p {
    display: none;
  }
  .spinner-body {
    font-size: 2.5em;
  }
  .error {
    font-size: 1.5em;
    padding: 1em;
  }
}
