.selector-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.selector {
  cursor: pointer;
}
.selector p {
  display: inline;
  font-size: 1.1em;
  font-weight: 700;
  color: #002280;
  margin: 0.8em 0.7em 0.8em 0.2em;
  padding: 0.1em 0.2em 0.1em 0.2em;
}
.NavBar {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
}
li {
  cursor: pointer;
  text-align: center;
  transition: all 150ms ease-out;
  margin: 0.4em 0.2em 0.4em 0.2em;
  width: 6em;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

.tab {
  position: relative;
  border: none;
  font-size: 1.1em;
  color: #444444;
}
.tab-active {
  position: relative;
  color: #002280;
  font-size: 1.1em;
}

.tab-overlay {
  position: absolute;
  padding: 0em;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  opacity: 0.5;
  animation: slide 0.4s ease-out;
}
@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .tab-active {
    font-size: 1em;
  }
  .tab {
    font-size: 1em;
  }

  .NavBar {
  }
}
