.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: 100%;
}
.navbar > li {
  cursor: pointer;
  text-align: center;
  margin: 0.4em 0.2em 0.4em 0.2em;
  width: 6em;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

.tab {
  position: relative;
  border: none;
  font-size: 1.1em;
  color: #002280;
}
.tab-active {
  font-weight: 700;
}

.tab-overlay {
  position: absolute;
  padding: 0em;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  opacity: 0.5;
  animation: slide 0.4s ease-out;
  -webkit-animation: slide 0.4s ease-out;
}
@-webkit-keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .tab {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  .navbar > li {
    margin: 0;
    padding: 1.4em 0;
    height: 2em;
    width: 33%;
  }

  .tab-toggler-col {
    position: fixed;
    background: white;
    padding: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
}
