.display-name {
  height: 3em;
}
.display-name p {
  display: inline;
  font-weight: 700;
  margin: 0 0 0 0.2em;
}
.display-name p,
#caret {
  cursor: pointer;
  color: #002280;
}
.display-name:active #caret {
  color: rgba(127, 255, 212, 1);
}
.user-container {
  float: right;
}
.user-dropdown {
  position: absolute;
  width: 9.5em;
  height: auto;
  right: 4.15em;
  top: 4em;
  z-index: 2;
  background-color: white;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

/* dropdown item */
.user-dropdown > span {
  display: block;
  color: #002280;
  text-align: left;
  font-size: 1em;
  height: auto;
  padding: 0.5em 0.5em 0.5em 0.7em;
  font-weight: 700;
}
/* dropdown item link */
.user-dropdown > span > a {
  text-decoration: none;
  color: #002280;
}
.user-dropdown > span:hover {
  background-color: rgba(127, 255, 212, 0.5);
}

#sign-out:hover {
  cursor: not-allowed;
  opacity: 0.4;
}
@media only screen and (max-width: 767px) {
  .user-dropdown {
    right: 0.8em;
    top: 4em;
    width: 8.5em;
    font-size: 1.2em;
  }
  .user-dropdown:before {
    left: 4.5em;
  }
}
