.user-container {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.display-name {
  display: flex;
  align-items: center;
  height: 3em;
}

.display-name p {
  display: inline;
  font-weight: 700;
  margin: 0 0 0 0.4em;
}
#caret {
  color: rgba(0, 34, 128, 0.7);
}
.display-name p {
  cursor: pointer;
  color: rgba(0, 34, 128, 0.9);
}

.display-name:active #caret {
  color: rgba(127, 255, 212, 1);
}

/* dropdown */
.user-dropdown {
  position: absolute;
  width: 12em;
  height: auto;
  right: 5px;
  top: 65px;
  z-index: 2;
  background-color: white;
  transform-style: preserve-3d;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.03);
}

/* dropdown item */
.user-dropdown > span {
  display: block;
  color: rgba(0, 34, 128, 0.85);
  text-align: left;
  font-size: 1em;
  height: auto;
  padding: 0.7em 0.5em 0.7em 0.8em;
  font-weight: 600;
}
/* dropdown item link */
.user-dropdown > span > a {
  text-decoration: none;
  color: rgba(0, 34, 128, 0.85);
}
.user-dropdown > span:hover {
  background-color: rgba(127, 255, 212, 0.5);
}

#sign-out:hover {
  cursor: not-allowed;
  opacity: 0.4;
}
@media only screen and (max-width: 767px) {
  .user-dropdown {
    right: 0.8em;
    top: 65px;
    width: 8.5em;
    font-size: 1.1em;
  }
  .user-dropdown:before {
    left: 4.5em;
  }
}
